<div>

  <!-- username -->
  <div class="row" style="align-items: center">
    <form [formGroup]="usernameForm">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
    </form>
    <button mat-button color="accent" (click)="updateUsername()" [disabled]="!usernameForm.valid">
      Update Username
    </button>
  </div>


  <mat-divider style="margin-top: 2rem; margin-bottom:2rem;"></mat-divider>

  <!-- basic info -->

  <div class="row">
    <mat-card-title>Basic Info</mat-card-title>
    <button mat-flat-button color="accent" (click)="updateBasicInfo()" [disabled]="!profile.first_name">
      Update
    </button>
  </div>

  <mat-card-content>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="profile.first_name" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="profile.last_name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="profile.email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput [(ngModel)]="profile.phone_number">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Birthday</mat-label>
        <input matInput [matDatepicker]="picker_birthday" [(ngModel)]="profile.birthday">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker_birthday"></mat-datepicker-toggle>
        <mat-datepicker #picker_birthday></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <input type="checkbox" [(ngModel)]="profile.private" /> Private
    </div>

    <div class="row">
      <mat-form-field appearance="fill" style="width: 30rem">
        <mat-label>Skills</mat-label>
        <textarea matInput [(ngModel)]="profile.skills"></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill" style="width: 30rem">
        <mat-label>Interests</mat-label>
        <textarea matInput [(ngModel)]="profile.interests"></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill" style="width: 30rem">
        <mat-label>Biography</mat-label>
        <textarea matInput [(ngModel)]="profile.biography"></textarea>
      </mat-form-field>
    </div>

  </mat-card-content>


  <mat-divider style="margin-top: 2rem; margin-bottom:2rem;"></mat-divider>

  <!-- work experience -->
  <div class="row">
    <mat-card-title>Work Experience</mat-card-title>
    <button mat-flat-button color="accent" (click)="updateWorkExperience()" [disabled]="!workExperienceForm.valid">
      Update
    </button>
  </div>

  <mat-card-content>
    <form [formGroup]="workExperienceForm">

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>employment type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of employmentType" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Company</mat-label>
          <input matInput formControlName="company">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Currently Working</mat-label>
          <input matInput formControlName="currently_working">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput formControlName="start_date">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="start_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="pickerend" formControlName="end_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
          <mat-datepicker #pickerend></mat-datepicker>
        </mat-form-field>

      </div>
    </form>
  </mat-card-content>


  <mat-divider style="margin-top: 2rem; margin-bottom:2rem;"></mat-divider>

  <!-- education -->
  <div class="row">
    <mat-card-title>Education</mat-card-title>
    <button mat-flat-button color="accent" (click)="updateEducation()" [disabled]="!educationForm.valid">
      Update
    </button>
  </div>

  <mat-card-content>
    <form [formGroup]="educationForm">

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>school</mat-label>
          <input matInput formControlName="school" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>degree</mat-label>
          <input matInput formControlName="degree">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>field of study</mat-label>
          <input matInput formControlName="field_of_study">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker_edu_start" formControlName="start_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker_edu_start"></mat-datepicker-toggle>
          <mat-datepicker #picker_edu_start></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="picker_edu_end" formControlName="end_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker_edu_end"></mat-datepicker-toggle>
          <mat-datepicker #picker_edu_end></mat-datepicker>
        </mat-form-field>

      </div>
    </form>
  </mat-card-content>
</div>