<div style="display: flex;">
  <div style="border-right-style: groove; padding-right: 0.2rem; width: 8rem">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let friend of friends" [value]="friend" (click)="setChatWith(friend)">
        {{friend}}
      </mat-list-option>
    </mat-selection-list>
    
  </div>

  <div id="messages-wrapper">
    <mat-card-title>Messages</mat-card-title>

    <div >
      <div  id="messages" >
        <div *ngFor="let msg of messages" class="container" [ngClass]="{'me': msg.from === myUsername, 'friend': msg.from !== myUsername}">
          <p>{{msg.value}}</p>
        </div>
      </div>
  
      <div id="send-msg" style="display: flex; align-items: center">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="newMsg" placeholder="Type message..." autocomplete="off" (keyup.enter)="sendMessage()">
        </mat-form-field>
  
        <button mat-icon-button color="accent" (click)="sendMessage()" [disabled]="!newMsg">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>

  </div>

</div>