<div>
  <mat-card-content>
    <form [formGroup]="basicInfoForm">

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name" required>
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name" required>
      </mat-form-field>
    
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
    
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phone_number">
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Birthday</mat-label>
        <input matInput formControlName="birthday">
      </mat-form-field>
    
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Biography</mat-label>
        <textarea matInput formControlName="biography"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Skills</mat-label>
        <input matInput formControlName="skills">
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Interests</mat-label>
        <input matInput formControlName="interests">
      </mat-form-field>

      <input type="checkbox" formControlName="private" /> Private

    
    </form>
    </mat-card-content>
</div>