#postDiv {
    width: 100%; 
    background-color: cornsilk; 
    padding: 10px;
    margin-bottom: 20px;
}

#title {
    font-size: large; 
    font-weight: bold; 
    margin-top: 5px; 
    margin-bottom: 5px;
}

#content {
    margin-top: 5px; 
    margin-bottom: 5px;
}

#image {
    width: 200px; 
    height: 150px;
    margin: 10px;
}

#comment {
    margin-left: 25px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}