<div class="row col-md-12 pl-5 pr-0">
  <!-- TODO: RESITI ZASTO SE OVO NE PRIKAZUJE -->
  <div *ngFor="let post of posts" id="postDiv">
    <div style="text-align: right;">{{post.date | date:'hh:mm dd.MM.yyyy'}}</div>
    <div>{{post.username}}</div>
    <div id="title">{{post.title}}</div>
    <div id="content">{{post.content}}</div>
    <img src="{{img}}" id="image" *ngFor="let img of post.images">
    <br>
    <div style="margin-top: 20px;">Comments:</div>
    <div *ngFor="let c of post.comments" id="comment">
      {{c.username}}: {{c.comment}}
      <div style="text-align: right;">{{c.date | date:'hh:mm dd.MM.yyyy'}}</div>
    </div>

    <form [formGroup]="commentForm" (ngSubmit)="onSubmit(post._id)" style="margin-top: 10px; margin-left: 25px;">
      <div class="input-group">
        <input id="newcolumn" name="newcolumn" type="text" formControlName="comment" class="form-control"
          placeholder="Add comment" style="font-size:12px; float:left;" />

        <button mat-raised-button color="primary" id="addButton" name="addButton" style="text-align:center; float:right"
          [disabled]="!commentForm.valid" type="submit" class="btn btn-block form-control">
          Add
        </button>
      </div>
    </form>

    <button style="margin-top: 20px;" (click)="likePost(post._id)">
      <mat-icon>thumb_up_alt</mat-icon> {{post.like.length}}
    </button>

    <button style="margin-top: 20px;" (click)="dislikePost(post._id)">
      <mat-icon>thumb_down_alt</mat-icon> {{post.dislike.length}}
    </button>

  </div>
</div>